{% extends 'main.html' %}

{% block T %}

<table style="border: 20px solid grey">
    <tr>
        <th>Name</th>
        <th>Votes</th>
        <th>Up Votes</th>
        <th>Date Created</th>
        <th>URL</th>
        <th>Update</th>
        <th>Delete</th>
    </tr>
    
    
    {% for p in project1 %}
        <tr>
            <td style="border: 2px dotted grey">{{p.title}}</td>
            <td>{{p.votes_total}}</td>
            <td>{{p.vote_ratio}}%</td>
            <td>{{p.timestamp}}</td>
            <td><a href="{% url 'project' p.id %}">View</a></td>
            <td><a href="{% url 'update-project' p.id %}">Update</a></td>
            <td><a href="{% url 'delete-project' p.id %}">Delete</a></td>
        </tr>
    {% endfor %}
    
</table>
<!-- Main Section -->
<main class="projects">
    <section class="hero-section text-center">
        <div class="container container--narrow">
            <div class="hero-section__box">
                <h2>Search for <span>Projects</span></h2>
            </div>

            <div class="hero-section__search">
                <form id='searchForm' class="form" action="{% url 'projects' %}" method="get">
                    <div class="form__field">
                        <label for="formInput#search">Search By Projects </label>
                        <input class="input input--text" id="formInput#search" type="text" name="search_query"
                            placeholder="Search by Project Title" value="{{search_query}}" />
                    </div>

                    <input class="btn btn--sub btn--lg" type="submit" value="Search" />
                </form>
            </div>
        </div>
    </section>
    <!-- Search Result: DevList -->
    <section class="projectsList">
        <div class="container">
            <div class="grid grid--three">

                {% for project in project1 %}
                <div class="column">
                    <div class="card project">
                        <a href="{% url 'project' project.id %}" class="project">
                            <img class="project__thumbnail" src="{{project.featured_image.url}}" alt="project thumbnail" />
                            <div class="card__body">
                                <h3 class="project__title">{{project.title}}</h3>
                                <p>by &nbsp;
                                    <a class="project__author" href="{% url 'user-profile' project.owner.id %}"> {{project.owner.name}}</a>
                                </p>
                                <p class="project--rating">
                                    <span style="font-weight: bold;">{{project.vote_ratio}}%</span> Positive
                                    Feedback ({{project.votes_total}}) Vote{{project.votes_total|pluralize:"s"}}
                                </p>
                                <div class="project__tags">
                                    {% for tag in project.tags.all %}
                                    <span class="tag tag--pill tag--main">
                                        <small>{{tag}}</small>
                                    </span>
                                    {% endfor %}

                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </section>

</main>

{% endblock T %}

