{% extends 'main.html' %}
{% block T %}


<main class="formPage my-xl">
    <div class="content-box">
        <div class="formWrapper">
            <a class="backButton" style ='width:100px;' href="{% url 'profiles' %}"><i class="im im-angle-left"></i> <h8>Back</h8> </a>
            <br>

            <form class="form" method="POST" enctype="multipart/form-data">

                {% csrf_token %}
                
                    <p>Are you sure you want to delete {{object}}?</p>
                    <button class="btn btn--sub btn--lg  my-md" style = "background-color: lightgreen">
                        <a href="{{request.GET.next}}">
                            Go Back 
                        </a>
                    </button>

                <input class="btn btn--sub btn--lg  my-md" style = "background-color:darkred" type="submit" value="Delete" />
            </form>
        </div>
    </div>
</main>


{% endblock T %}